:host ::ng-deep .mat-mdc-dialog-container {
  border: 1px solid #E2E8F0 !important;
  border-radius: 0.75rem !important;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1) !important;
  padding: 0 !important;
}

:host ::ng-deep .mat-mdc-dialog-surface {
  border-radius: 0.75rem !important;
}
